/* body .bg-neutral {
    background: url('diamondsix.png') repeat;
} */

/* Make Twitter link button black */
.link-x-twitter {
    background: rgb(0, 0, 0);
}

/* Remove footer entirely */
footer {
    display: none;
}

/* Title/Header Text */
header h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* Tagline */
header h2 {
    font-family: "Silkscreen";
}

.link {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    /* font-size: 2rem; */
    font-style: normal;
}