<!-- Copied in from Lynx @ 25fb355 -->
<!-- https://github.com/jpanther/lynx/blob/stable/layouts/partials/head.html -->
<head>
    <meta charset="utf-8" />
    {{ with .Site.LanguageCode }}
      <meta http-equiv="content-language" content="{{ . }}" />
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {{/* Title */}}
    {{ if .IsHome -}}
      <title>{{ .Site.Title }}</title>
      <meta name="title" content="{{ .Site.Title }}" />
    {{- else -}}
      <title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
      <meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
    {{- end }}
    {{/* Metadata */}}
    {{ with .Params.Description -}}
      <meta name="description" content="{{ . }}" />
    {{- else -}}
      <meta name="description" content="{{ $.Site.Params.Description }}" />
    {{- end }}
    {{ with .Site.Params.keywords -}}
      <meta name="keywords" content="{{ . }}" />
    {{- end }}
    {{ with .Site.Params.robots }}
      <meta name="robots" content="{{ . }}" />
    {{ end }}
    {{ with .Params.robots }}
      <meta name="robots" content="{{ . }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{/* Asset bundles */}}
    {{ $assets := newScratch }}
    {{ $cssMain := resources.Get "css/compiled/main.css" }}
    {{ $assets.Add "css" (slice $cssMain) }}
    {{ $cssCustom := resources.Get "css/custom.css" }}
    {{ if $cssCustom }}
      {{ $assets.Add "css" (slice $cssCustom) }}
    {{ end }}
    {{ $bundleCSS := $assets.Get "css" | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint "sha512" }}
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ $bundleCSS.RelPermalink }}"
      integrity="{{ $bundleCSS.Data.Integrity }}"
    />
    {{/* Site Verification */}}
    {{ with .Site.Params.verification.google }}
      <meta name="google-site-verification" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.verification.bing }}
      <meta name="msvalidate.01" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.verification.pinterest }}
      <meta name="p:domain_verify" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.verification.yandex }}
      <meta name="yandex-verification" content="{{ . }}" />
    {{ end }}
    {{/* Social */}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{/* Generator */}}
    {{ if .Site.Params.attribution | default true }}
      {{ hugo.Generator }}
    {{ end }}
    {{/* Me */}}
    {{ with .Site.Author.name }}<meta name="author" content="{{ . }}" />{{ end }}
    {{ with .Site.Author.links }}
      {{ range $links := . }}
        {{ range $name, $url := $links }}<link href="{{ $url }}" rel="me" />{{ end }}
      {{ end }}
    {{ end }}
    {{/* Analytics */}}
    {{ partialCached "analytics.html" . }}
    {{/* Extend head - eg. for custom analytics scripts, etc. */}}
    {{ if templates.Exists "partials/extend-head.html" }}
      {{ partialCached "extend-head.html" .Site }}
    {{ end }}

    <!-- Favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎲</text></svg>"></link>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Silkscreen&display=swap" rel="stylesheet">

</head>